<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/general/style-general.css">
    <link rel="stylesheet" href="../css/style-dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="content">
            <ul>
                <li class="nav-item cont-left">
                    <a href="">Inicio</a>
                </li>
                <li class="nav-item cont-cent">
                    <a href="">icono</a>
                </li>
                <li class="nav-item cont-rigth">
                    <button class="btnPrin">Tuitear</button>
                </li>
            </ul>
        </div>
    </nav>
    
</body>
</html>